*.class

# Package Files #
*.war
*.ear
deploy.sh
.classpath
.project
.DS_Store
db.properties
.settings/
classes/
icon/
work/
image/
work/
tmp/
bin/
build/
target/
gradle.properties
.gradle/
.vscode/
.idea/
gradlew
gradlew.bat
gradle/
